APP_NAME=Jankendra-AI Modules
APP_VERSION=0.1.0
ENVIRONMENT=production
ROOT_PATH=/ai
API_V1_PREFIX=/api/v1
HOST=127.0.0.1
PORT=8001
CORS_ORIGINS=http://YOUR_VM_EXTERNAL_IP,https://YOUR_DOMAIN
GOOGLE_APPLICATION_CREDENTIALS=/etc/jankendra/google-credential.json
GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_CLOUD_LOCATION=asia-south1
VERTEX_GEMINI_MODEL=gemini-2.5-flash
