APP_NAME=Jankendra-AI Modules
APP_VERSION=0.1.0
ENVIRONMENT=development
API_V1_PREFIX=/api/v1
HOST=127.0.0.1
PORT=8012
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:8000,http://127.0.0.1:8000
GOOGLE_APPLICATION_CREDENTIALS=credentials/google-credential.json
GOOGLE_CLOUD_LOCATION=asia-south1
VERTEX_GEMINI_MODEL=gemini-2.5-flash
